# <h1><center>Introduction to Python (I)</center></h1>


Refereces:

https://www.tutorialspoint.com/python

# Standard Data Types: Number, String, List, Tuple, Dictionary, Iterator<br>

## Numbers<br>
- 3 different numerical types: int, float, complex
- int: 10, 100, -123
- float (floating point real values): 0.0, 15.20
- complex: (complex numbers): 3.14j

## Strings<br>
- Strings are identified as a contiguous set of characters represented in the quotation marks
- Substrings can be taken using slice operator [ ] with indexes starting at **0 in the beginning of the string ** and working their way from **-1 at the end **.
- Strings can be concatenated using +
- Useful string functions: <font color='blue'>strip, lstrip, rstrip, split, lower, upper, find, rfind, replace</font>

In [1]:
# Strings 
# Important python index rules!

s=''               # an empty string
s = 'Hello World!'

print("1. ", s)          # Prints complete string
print("2. ", s[0])       # Prints first character of the string
print("3. ", s[2:5])     # Prints characters starting from 3rd to 5th 
                         # the first index number is where the slice starts (inclusive)
                         # the second index number is where the slice ends (exclusive))
                         
print("4. ", s[2:] )     # Prints string starting from 3rd character
print("5. ", s[-1])      # Prints the last character 

# Question: how to get the last three characters?  
print("5. ", s[-3:]) 

# step-wise slicing; 
print("6. ", s[0:10:2])   # extracting characters with 
                          # even indexes from the first 10 characters
                          # [start:end:step] default is [0:length of the string:1]

# concatenation
print("7. ", s + " TEST") # Prints concatenated string

1.  Hello World!
2.  H
3.  llo
4.  llo World!
5.  !
5.  ld!
6.  HloWr
7.  Hello World! TEST

In [2]:

s='   Welcome to Web Mining Class   '
print ("1. ", s.strip() )            # remove both leading and trailing spaces
print ("2. ", s.lstrip() )           # remove leading spaces
print ("3. ", s.rstrip()  )          # remove trailing spaces
print ("4. ", s.split(" "))          # split s by delimiter " " into a list
print ("5. ", s.lower())             # convert to lowercase
print ("6. ", s.upper())             # convert to uppercase
print ("7. ", s.find("W"))           # get the index of the first "W" in s starting from the left; return -1 if "W" is not in s
print ("8. ", s.rfind("W"))          # get the index of the first "W" in s starting from the right; return -1 if "W" is not in s
print ("9. ", s.replace("W", "**"))  # replace all occurrences of "W" by "**"

1.  Welcome to Web Mining Class
2.  Welcome to Web Mining Class
3.     Welcome to Web Mining Class
4.  ['', '', '', 'Welcome', 'to', 'Web', 'Mining', 'Class', '', '', '']
5.     welcome to web mining class
6.     WELCOME TO WEB MINING CLASS
7.  3
8.  14
9.     **elcome to **eb Mining Class

In [22]:
path="http://localhost:8888/notebooks/Python_I.ipynb"

# 1. Retrieve the last five characters of the path,  
# i.e. ipynb
print(path[-5:])

# 2. retrieve the file name in the path, 
# i.e. the part after the last "/"

print(path.split("/")[-1])

ipynb
Python_I.ipynb

In [4]:
marker = "AFK"
replacement = "away from keyboard"
line = "I will now go to sleep and be AFK until lunch time tomorrow."
start=line.find(marker)
length = len(marker)
replaced = line[:start] + replacement + line[start+length:]
print(replaced)

I will now go to sleep and be away from keyboard until lunch time tomorrow.

## Lists<br>
- A list contains items separated by <font color=blue>commas (,)</font> and enclosed within <font color=blue>square brackets ([])</font>
- Values in a list can be accessed using slice operator <font color=blue>[]</font> with indexes starting at **<font color=blue>0</font> for the first element ** and working their way from **<font color=blue>-1</font> at the end **.
- Lists can be concatenated using <font color=blue>+</font>
- A string is actually a list of characters without commas!
- Items in a list can be of different data type (different from arrays in C)
- Items in a list can be of any python data types, e.g. numbers, strings, lists, tuples, dictionaries
- List functions: <font color=blue>append, remove</font>

In [26]:
list1 = [ 'welcome', "to" , "my", 'class' ]
list2 = ['BIA-660', 'Web', 'Mining']

print ("1. ", list1)          # Prints complete list
print ("2. ", list1[0])       # Prints first element of the list
print ("3. ", list1[1:3])     # Prints elements starting from 2nd till 3rd 
print ("4. ", list1[2:])      # Prints elements starting from 3rd element
print ("5. ", list1[-3:])      # Prints the last three elements

# concatenate elements in a list
print ("6. ", " ".join(list1))# join elements into a single string with " " as the separator

# concatenate lists
print ("7. ", list1 + list2)  # Prints concatenated lists

print("8. ", " ".join(list1 + list2))

1.  ['welcome', 'to', 'my', 'class']
2.  welcome
3.  ['to', 'my']
4.  ['my', 'class']
5.  ['to', 'my', 'class']
6.  welcome to my class
7.  ['welcome', 'to', 'my', 'class', 'BIA-660', 'Web', 'Mining']
8.  welcome to my class BIA-660 Web Mining

In [27]:
# Useful functions of lists

list3=range(10)       # generate the numbers from 0 to 9; return an iterator
print ("1. ", list3)        # print a range object, an iterator
print ("2. ", list(list3))  # convert the iterator to a list

list4=range(1,10)     # generate the numbers from 1 to 9
print ("3. ", list(list4))

list5=['a','b']*3     # repeat list ['a','b'] three times
print ("4. ", list5)

list5.append("c")     # append "c" to the end of the list
print ("5. ", list5)

# Notice the following difference
list5.extend(["c","d"])
print ("6a. ", list5)
list5.append(["c","d"])
print ("6b. ", list5)
print ("6c. ",list5+["c","d"])

list5.remove("a")     # remove the first "a" found in the list from the beginning
print ("7. ", list5)

1.  range(0, 10)
2.  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
3.  [1, 2, 3, 4, 5, 6, 7, 8, 9]
4.  ['a', 'b', 'a', 'b', 'a', 'b']
5.  ['a', 'b', 'a', 'b', 'a', 'b', 'c']
6a.  ['a', 'b', 'a', 'b', 'a', 'b', 'c', 'c', 'd']
6b.  ['a', 'b', 'a', 'b', 'a', 'b', 'c', 'c', 'd', ['c', 'd']]
6c.  ['a', 'b', 'a', 'b', 'a', 'b', 'c', 'c', 'd', ['c', 'd'], 'c', 'd']
7.  ['b', 'a', 'b', 'a', 'b', 'c', 'c', 'd', ['c', 'd']]

In [7]:
# question: how to remove all 'a'?
# get index of the first occurrence of "a"  
print ("index of first 'a':",list5.index("a") )         

# get count of "a" in the list
print ("count of 'a':", list5.count("a") )

index of first 'a': 1
count of 'a': 2

In [29]:
# sort list
list6=[1,3,5,4,0]
print("1. ", sorted(list6))  # sort in ascending order
print("2. ", sorted(list6, reverse=True))  # sort in decending order

print("3. orignal list: ", list6) 

list6.sort()  #  modifies the list in-place and returns None
print("4. after sort():", list6)

# Do you know any other way to sort in the decreasing order?
print(list6[::-1])

1.  [0, 1, 3, 4, 5]
2.  [5, 4, 3, 1, 0]
3. orignal list:  [1, 3, 5, 4, 0]
4. after sort(): [0, 1, 3, 4, 5]
[5, 4, 3, 1, 0]

In [32]:
# List operations

list2 = ['BIA-660', 'Web', 'Analytics']

# 1:  How to extract "660" from list2

print(list2[0][-3:])



# 2: Join the last two elements in list2 
#    into a string with "-" as the separator, 
#    i.e. 'Web-Analytics'

print("-".join(list2[1:]))

660
Web-Analytics

## Tuples<br>
- A tuple consists of a number of values separated by commas enclosed in <font color=blue>()</font> , e.g. ('welcome', "to" , "BA", 660)
- A tuple is similar to a list in many aspects. However, they differ in the following:
    - Tuples are enclosed within parentheses <font color=blue>()</font>, while lists are enclosed in <font color=blue>[]</font>.
    - A tuple, once declared, <font color=blue>cannot be updated (read-only)</font>, while the elements and size of a list can be changed

In [10]:
# tuples

tuple1 = ( 'welcome', "to" , "my", 'class' )
tuple2 = ('BIA (Web Mining)', 660)

print ("1. ", tuple1)          # Prints complete tuple
print ("2. ", tuple1[0])       # Prints first element of the tuple
print ("3. ", tuple1[1:3])     # Prints elements starting from 2nd till 3rd 
print ("4. ", tuple1[2:])      # Prints elements starting from 3rd element
print ("5. ", tuple1 + tuple2)  # Prints concatenated tuples

1.  ('welcome', 'to', 'my', 'class')
2.  welcome
3.  ('to', 'my')
4.  ('my', 'class')
5.  ('welcome', 'to', 'my', 'class', 'BIA (Web Mining)', 660)

In [11]:
# Comparison between lists and tuples

# list can be updated, while tuple is read only

list1 = [ 'welcome', "to" , "my", 'class' ]
tuple1 = ( 'welcome', "to" , "my", 'class' )

list1[0]='WELCOME'

# Be sure to understand why the line below is incorrect
tuple1[0]='WELCOME'        # incorrect

TypeError: 'tuple' object does not support item assignment

In [12]:
# Make a list of tuples out of two lists, 
# e.g. [(1,'Mary'),(2,'Tom'),(3, 'Joe')]

ids=[1,2,3,4]
names=['Mary','Tom','Joe',"larry"]

# A efficient way: zip function - combine lists element-wise
# zip function in python 3 returns an iterator
# use list function to convert an iterator to list
print(zip(ids, names))
zipped=list(zip(ids, names))   
print(zipped)

# how to convert zipped back to unzipped?
print(list(zip(*zipped)))

<zip object at 0x7f8dee4b7d40>
[(1, 'Mary'), (2, 'Tom'), (3, 'Joe'), (4, 'larry')]
[(1, 2, 3, 4), ('Mary', 'Tom', 'Joe', 'larry')]

## Dictionary<br>
- A dictionary is similar to a lookup table with key-value pairs, e.g. {1:'Mary Joe', 2:'David Johnson'}
- Keys are unique
- A dictionary is enclosed by <font color=blue>curly braces {}</font>
- Values can be assigned and accessed using square braces [].
- Keys are usually <font color=blue>numbers or strings</font>, but values can be of any python data types, e.g. numbers, strings, lists, tuples, dictionaries

In [33]:
dict1 = {}                     # define an empty dictionary
dict1['one'] = "This is one"   # add a key-value pair to the dictionary
dict1[2]     = "This is two"
print(dict1)
print ("1. ", dict1['one'])       # Prints value for 'one' key
print ("2. ", dict1[2])           # Prints value for 2 key

dict2 = {1:'Mary Joe', 2:'David Johnson'}  # a more compact way to define a dictionary
print ("3. ", dict2)              # Prints complete dictionary
print ("4. ", dict2.keys())       # Prints all the keys
print ("5. ", dict2.values())     # Prints all the values
print ("6. ", list(dict2.items()) ) # print key-value pair as a list of tuples

{'one': 'This is one', 2: 'This is two'}
1.  This is one
2.  This is two
3.  {1: 'Mary Joe', 2: 'David Johnson'}
4.  dict_keys([1, 2])
5.  dict_values(['Mary Joe', 'David Johnson'])
6.  [(1, 'Mary Joe'), (2, 'David Johnson')]

## Iterator<br>
- An iterator is simply an object that can be iterated upon. An iterator will return data, one element at a time.
- - An iterator must implement two special methods, iter and next.
- An object is called iterable if we can get an iterator from it. Iterable objects include lists, tuples, strings, dictionaries etc. The iter() function returns an iterator from an iterable object.
- An iterator object can be used only once. When we reach the end and there is no more data to be returned, it will raise the error StopIteration.

In [14]:
# iterables

# define a list
my_list = [4, 7, 0, 3]

# get an iterator using iter()
my_iter = iter(my_list)
print("1. ", my_iter)

# similarly, you can convert the iterator object back to a list
print("2. ", list(my_iter))

1.  <list_iterator object at 0x7f8dee453520>
2.  [4, 7, 0, 3]

In [15]:
## iterate through an iterable using next() 
my_iter = iter(my_list)

#prints 4
print("1. ", next(my_iter))

#prints 7
print("2. ", next(my_iter))

# loop through all remaining elements
print("3. ")
for item in my_iter:
    print (item)
    
# raise StopIteration error if call next again since the for loop has reached the end of the iterator object
print("4. ", next(my_iter))

1.  4
2.  7
3.
0
3

StopIteration:

## Data Type Coversion<br>
<table>
  <thead>
    <tr>
      <th>Function</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>int(x)</td>
      <td>Converts string x to integer</td>
    </tr>
    <tr>
      <td>float(x)</td>
      <td>Converts string x to a floating-point number</td>
    </tr>
    <tr>
      <td>str(x)</td>
      <td>Converts object x to a string</td>
    </tr>
    <tr>
      <td>list(x)</td>
      <td>Converts sequence x (e.g. tuple, string, set, or dictionary) to a list</td>
    </tr>
    <tr>
      <td>tuple(x)</td>
      <td>Converts sequence x (e.g. list, string, set, or dictionary) to a tuple</td>
    </tr>
    <tr>
      <td>dict(x)</td>
      <td>Creates a dictionary using x, which must be a sequence of (key,value) pair</td>
    </tr>
    <tr>
      <td>set(x)</td>
      <td>Converts sequence x to a set, an unordered collections of unique elements
    </td>
    </tr>
  </tbody>
</table>

In [34]:
# data conversion

x='123'
y='246'

z1=int(x)+int(y)                       # convert x and y to integers and add them up
print ("1. z1=int(x)+int(y) : ",z1, sep = "")

z2=float(x)+float(y)                   # convert x and y to floats and add them up
print ("2. z2=float(x)+float(y) : " ,z2, sep = "")

z3=str(z1)                             # convert z1 to string
print ("3. z3=string of z1 : ",z3, sep = "")

z4=list(x+y)                            # convert x+y, a string to a list
print ("4. z4=list(x+y) : " ,z4, sep = "")

z5=tuple(x+y)                           # convert x+y, a string to a tuple
print ("5. z5=tuple(x+y) : " ,z5, sep = "")

xy=[('x',x),('y',y)]

z6=dict(xy)                            # convert a list of tuples to a dictionary
print ("6. z6=dict(xy) : " ,z6, sep = "")

z7=set(z4)                            #### convert a list to a set (unique and unordered elements)
print ("7. z7=set(z4) : " ,list(z7), sep = "")

1. z1=int(x)+int(y) : 369
2. z2=float(x)+float(y) : 369.0
3. z3=string of z1 : 369
4. z4=list(x+y) : ['1', '2', '3', '2', '4', '6']
5. z5=tuple(x+y) : ('1', '2', '3', '2', '4', '6')
6. z6=dict(xy) : {'x': '123', 'y': '246'}
7. z7=set(z4) : ['6', '2', '1', '3', '4']

In [17]:
list1=['abc','xyz']   # how to get a single string 'abcxyz'?
x=str(list1)
print("1. ", x)
print("2. ", ''.join(list1))

1.  ['abc', 'xyz']
2.  abcxyz

## Operators<br>

In [36]:
# basic operators
a, b = 2, 7
print(f"{a+b = }")             # addition/concatenation
print(f"{a-b = }")            # subtraction
print(f"{a*b = }")            # multiplication

# division. Notice that a,b are integers 
# in python2, b/a is also an integer
# in python3, b/a is a float
print ("b/a = ", b/a )    

# modulus, returns remainder
print ("b%a = ", b%a)    
# floor division, return quotient which is floored
print ("b//a = ", b//a )     
# exponent
print ("b**a = ", b**a )          

# concise assignment 
a+=b
# a+=b is equivalent to a = a + b.
print ("after a+=b, a = ", a)       

a*=b
# a*=b is equivalent to a= a*b. 
print ("after a*=b, a = ",a)     
# This concise assignment operator can be applied to 
# other basic operators

a+b = 9
a-b = -5
a*b = 14
b/a =  3.5
b%a =  1
b//a =  3
b**a =  49
after a+=b, a =  9
after a*=b, a =  63

In [19]:
# comparison operators

a, b = 2,7

print ("a==b ?", a==b)          # equal
print ("a!=b ?", a!=b )         # not Equal
print ("a>b ?",a>b)             # greater than
print ("a<b ?",a<b )                 # less than
print ("a>=b ?",a>=b)                 # greater than or equal
print ("a<=b ?",a<=b)                # less than or equal

a==b ? False
a!=b ? True
a>b ? False
a<b ? True
a>=b ? False
a<=b ? True

In [20]:
# comparison operators
a, b, c=2,7, [1,2,3]

# test if a is in list c
print ("a in c ? ",a in c) 

# test if b is not in list c
print ("b not in c ? ",b not in c)     

# test if a key is in dictionary dict1
dict1={"105":"Mary", "010":"Joe","030":"Tom"}

print("020 is a key of dict1 ", "020" in dict1)
print("May is a value of dict1 ", "Mary" in dict1.values())
print("020 is not a key of dict1 ", "020" not in dict1)

# Note that you can directly use **dict1**. 
# You can also use **dict1.keys()**

a in c ?  True
b not in c ?  True
020 is a key of dict1  False
May is a value of dict1  True
020 is not a key of dict1  True

In [21]:
# logical operators

a, b, c=2,7, [1,2,3]
# both conditions are true
print ("(a>b) and (a in c) ?",(a>b) and (a in c))     
# either condition is true
print ("(a>b) or (a in c) ?",(a>b) or (a in c))
# reverse the condition
print ("not (a>b) ?",not (a>b) )

(a>b) and (a in c) ? False
(a>b) or (a in c) ? True
not (a>b) ? True